<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050567670060-skk35e1llhfthc088av7g8ts3nkbvbs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050567670060-skk35e1llhfthc088av7g8ts3nkbvbs0</string>
	<key>API_KEY</key>
	<string>AIzaSyCPbYlQK-9HImS5B3Em0LGacyCfx1UNnHM</string>
	<key>GCM_SENDER_ID</key>
	<string>1050567670060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tools.zendo.zensors</string>
	<key>PROJECT_ID</key>
	<string>zendo-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>zendo-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050567670060:ios:08e5af8c351a6fe0</string>
	<key>DATABASE_URL</key>
	<string>https://zendo-v1.firebaseio.com</string>
</dict>
</plist>
